page-chat {


    .mensajePropio{
        background-color: #90AED7;
    }

    .mensajeAjeno{
        background-color: #94E794;
    }

    #textComen{
        position: relative;
        margin: 0 auto; 
        background-color: white;
        width: 80%;
        margin-left: 5%;

    }

    #buttonFav{
        margin-top: 1%;

    }
}
